@inherits LayoutComponentBase
<style>
    body{
        overflow: hidden;
        margin: 0px;
    }
    .render-iframe{
        width:100%;
        height: 100vh;
        overflow: hidden;
    }
</style>
<div class="render-iframe">
    <!-- Table -->
    @Body

</div>
