    <footer class="footer rounded-5 p-5">
        <div class="container-xl mt-xxl-2 rounded-5">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="logo">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 306.000000 346.000000" preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,346.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M1365 3388 c11 -138 25 -353 25 -378 0 -21 -26 2 -163 138 l-163 163
-117 -125 -117 -124 182 -136 181 -136 -64 0 -64 0 -374 -219 c-205 -121 -377
-223 -382 -228 -5 -5 -74 -171 -154 -368 l-146 -360 127 -315 c185 -460 158
-409 253 -464 62 -36 81 -51 77 -64 -24 -79 -65 -277 -59 -282 5 -4 126 -98
270 -208 l261 -201 296 -35 296 -36 296 36 296 35 261 201 c144 110 265 204
270 208 6 5 -35 203 -59 282 -4 13 15 28 77 64 95 55 68 4 253 464 l127 315
-146 360 c-80 197 -149 363 -154 368 -5 5 -177 107 -382 228 l-374 219 -64 0
-64 0 181 136 182 136 -117 124 -117 125 -163 -163 c-137 -136 -163 -159 -163
-138 0 25 14 240 25 378 l6 72 -171 0 -171 0 6 -72z m269 -165 c-7 -104 -15
-228 -19 -278 l-6 -90 193 192 193 193 79 -86 c43 -47 76 -87 74 -90 -3 -2
-101 -76 -218 -164 l-213 -160 132 0 132 0 368 -216 368 -215 140 -347 140
-347 -141 -348 -141 -347 -69 -40 c-37 -22 -72 -40 -76 -40 -15 0 -252 252
-247 263 17 47 89 289 86 291 -2 2 -132 22 -288 44 l-283 41 -103 96 -103 95
-102 0 -102 0 -103 -95 -103 -96 -283 -41 c-156 -22 -286 -42 -288 -44 -3 -2
69 -244 86 -291 5 -11 -232 -263 -247 -263 -4 0 -39 18 -76 40 l-69 40 -141
347 -141 348 140 347 140 347 368 215 368 216 132 0 132 0 -213 160 c-117 88
-215 162 -218 164 -2 3 31 43 74 90 l79 86 193 -193 193 -192 -6 90 c-4 50
-12 174 -19 278 l-12 187 116 0 116 0 -12 -187z m80 -1697 c74 -67 112 -95
137 -99 19 -3 133 -20 254 -37 121 -17 225 -33 232 -35 8 -3 -2 -47 -32 -142
l-44 -137 139 -136 139 -135 34 -142 34 -142 -21 -19 c-12 -10 -125 -98 -253
-196 l-232 -177 -285 -34 -286 -35 -286 35 -285 34 -232 177 c-128 98 -241
186 -253 196 l-21 19 34 142 34 142 139 135 139 136 -44 137 c-30 95 -40 139
-32 142 7 2 124 20 261 40 147 21 258 41 270 50 12 7 59 50 106 94 l85 80 83
1 84 0 102 -94z"/>
<path d="M635 1960 l-90 -49 -38 -83 -38 -82 37 -83 37 -83 94 -50 93 -50 115
0 115 0 93 50 94 50 37 82 37 82 -37 83 -37 83 -94 50 -93 50 -118 -1 -117 0
-90 -49z m390 -42 c80 -41 83 -44 109 -102 14 -34 26 -65 26 -71 0 -5 -12 -37
-26 -71 -26 -58 -29 -61 -109 -102 -79 -41 -84 -42 -180 -42 -96 0 -101 1
-180 42 -80 41 -83 44 -109 102 -14 34 -26 66 -26 71 0 6 12 37 26 71 26 57
31 62 103 101 74 39 79 40 180 42 104 1 105 1 186 -41z"/>
<path d="M790 1735 l0 -45 45 0 45 0 0 45 0 45 -45 0 -45 0 0 -45z"/>
<path d="M2005 1960 l-90 -49 -38 -83 -38 -82 37 -83 37 -83 94 -50 93 -50
115 0 115 0 93 50 94 50 37 82 37 82 -37 83 -37 83 -94 50 -93 50 -118 -1
-117 0 -90 -49z m390 -42 c80 -41 83 -44 109 -102 14 -34 26 -65 26 -71 0 -5
-12 -37 -26 -71 -26 -58 -29 -61 -109 -102 -79 -41 -84 -42 -180 -42 -96 0
-101 1 -180 42 -80 41 -83 44 -109 102 -14 34 -26 66 -26 71 0 6 12 37 26 71
26 57 31 62 103 101 74 39 79 40 180 42 104 1 105 1 186 -41z"/>
<path d="M2180 1735 l0 -45 45 0 45 0 0 45 0 45 -45 0 -45 0 0 -45z"/>
</g>
</svg>

                    </div>
                    <span>PsyTruyện</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <p><span class="fw-bold" style="color: var(--bs-primary);">Người Thực Hiện</span></p>
                    <hr>
                    <p>Đồ Án Môn <span class="fw-bold">Công Nghệ Web</span></p>
                    <p>Thực Hiện Bởi:
                        <span class="fw-bold">Võ Thành Thuận - DPM185194</span>
                    </p>
                    <p>Portfolio <a href="https://vothanhthuan.github.io/vtt/"><span class="fw-bold">https://vothanhthuan.github.io/vtt/</span></a></p>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <p><span class="fw-bold" style="color: var(--bs-primary);">Mã Nguồn</span></p>
                    <hr>
                    <p>Đồ án thực hiện trên nền .NET5</p>
                    <p>Cộng nghệ Blazor WebAssembly</p>
                    <p>Github <a href="https://github.com/VoThanhThuan/WebTruyen"><span class="fw-bold">https://github.com/VoThanhThuan/WebTruyen</span></a></p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="fw-bold">Donate Me</p>
                    <div class="logo">
                        <img src="/resources/img/DonateMe-qr-code.png" alt="" style="width: 200px; height: 200px;">
                    </div>
                    <p>Số tài khoản ViettelPay (MBBank)</p>
                    <p>9704 2292 6647 3896</p>
                </div>



            </div>
        </div>
    </footer>

@code {

}
