@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<NavMenu />

@Body

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                InfoIcon="school"
                ErrorIcon="fa fa-bug">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>