@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<h1>User</h1>

<link rel="stylesheet" href="./vendors/Cropprjs/croppr.min.css">

<div class="container overflow-auto mt-2">
    <div class="content rounded-3 p-1">
        <style>
            .frame-crop {
                padding: 18px;
                border: 1px solid lightgrey;
                width: 300px;
            }

            .modal img {
                max-width: 100%;
            }
        </style>
        <div class="frame-crop">
            <img src="https://unsplash.it/500/500/?random" alt="" id="cropper">
        </div>
    </div>
</div>

@(await Html.RenderComponentAsync<WebTruyen.UI.Admin.Pages.Userpage.User>(RenderMode.ServerPrerendered))

@section Scripts
{
    <script src="./vendors/Cropprjs/croppr.min.js"></script>
    <script>
        var croppr = new Croppr('#cropper', {
            onInitialize: (instance) => {
                console.log(instance);
            },
            onCropStart: (data) => {
                console.log('start', data);
            },
            onCropEnd: (data) => {
                console.log('end', data);
            },
            onCropMove: (data) => {
                console.log('move', data);
            },
            aspectRatio: 1,
        });
    </script>
}
