@page "/"
@namespace WebTruyen.UI.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin</title>
        <base href="~/" />
        <link href="./resources/css/app.css" rel="stylesheet">
        <link href="./resources/css/loading.css" rel="stylesheet" />

        <link rel="stylesheet" href="./vendors/bootstrap/css/bootstrap.min.css" />
        <link href="./vendors/site.css" rel="stylesheet" />
        <link href="./vendors/fonts/fontawesome/css/all.min.css" rel="stylesheet">

        <link href="WebTruyen.UI.Admin.styles.css" rel="stylesheet" />

    </head>
    <body style="background-color: var(--bs-gray-200);">
        <component type="typeof(App)" render-mode="ServerPrerendered" />

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

        <script src="_framework/blazor.server.js"></script>
        <script src="resources/js/app.js"></script>
        <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
