@using WebTruyen.UI.Admin.Data
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="">
            @Body
        </div>
    </div>
</div>
@code
{

    [Inject] private HttpClient _http { get; set; }
    [Inject] ProtectedLocalStorage _localStorageService { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var sessions = (await _localStorageService.GetAsync<string>("Token")).Value;

        _http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", sessions);

    }
}
