svg#freepik_stories-oops-404-error-with-a-broken-robot:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elabruqlhv9x7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0s;
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elaayj576j52b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.004405286343612335s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwofm0aagksc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.00881057268722467s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzoavdffgde {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.013215859030837006s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elrk2d3iti2z {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.01762114537444934s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbm77s3jxjwh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.022026431718061675s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elofyjb4h62n {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.026431718061674013s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el57bvzvfnov6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.030837004405286347s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3upfv7id1zr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.03524229074889868s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elm766hzt5dlq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.039647577092511016s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elila03rcez5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.04405286343612335s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3e0icplzzsl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.048458149779735685s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elc6c1a87nf9g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.052863436123348026s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgi49oczw25q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.05726872246696036s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldk6lw7j26lb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.061674008810572695s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9wt0m9p9sv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.06607929515418502s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elhmyh091426b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.07048458149779736s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9rrr3blkjr6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.0748898678414097s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #els6ug7sz6kvm {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.07929515418502203s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elo20bhze1mcq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.08370044052863437s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzqaty1evqz {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.0881057268722467s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el51xam8gegsj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.09251101321585904s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elws30eie4sq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.09691629955947137s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5vqcgzlnpbc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.10132158590308371s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwsdhmbg87d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.10572687224669605s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eliuwu1gdv7uo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.11013215859030838s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elvt3e4khob3i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.11453744493392072s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbiv4ntf81rl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.11894273127753305s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elr23fr4elo8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.12334801762114539s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el7suf8zj2g5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.12775330396475773s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbfhymo0ss6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.13215859030837004s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elaxc56pi4my {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.13656387665198239s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxf8m746ne3d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.14096916299559473s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el73ie02auc1o {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.14537444933920707s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0g97qfr70jlp {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.1497797356828194s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3reyz4brdtf {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.15418502202643172s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcp8jlyc1m87 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.15859030837004406s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elagd55gvo8co {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.1629955947136564s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elcpooo4r7lqr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.16740088105726875s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eld8fggyxcuuj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.17180616740088106s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elht5mtjbmkb8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.1762114537444934s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elldgwq2hojwa {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.18061674008810574s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elumycnnzixq9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.18502202643171808s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5v79styzbd6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.18942731277533043s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbz7rg68omtb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.19383259911894274s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ellxy126x9vd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.19823788546255508s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el46kmnv8c33h {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.20264317180616742s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2a51kvzu0x6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.20704845814977976s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elw7wmne4jogg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2114537444933921s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eloykcwu4dlcj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.21585903083700442s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #els6l3dcs6fu {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.22026431718061676s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el75c3tc5heoj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2246696035242291s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0y13300l4gz {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.22907488986784144s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el7v3qkap1ft {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.23348017621145375s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfu13i8yn3tg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2378854625550661s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eld2owmq6qxgo {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.24229074889867844s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elg8bmlg3s74w {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.24669603524229078s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elaaftrg2d4yn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2511013215859031s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ell03ijnvrgt9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.25550660792951546s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el8twvh9vyjx7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2599118942731278s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxprq2030vdp {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2643171806167401s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2kg737o3y1h {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.26872246696035246s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elba7vx1bt9pj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.27312775330396477s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elc2fn8s37ug {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.27753303964757714s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqzc8dp1lkk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.28193832599118945s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwuqe1cfbek {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.28634361233480177s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmwhfyoszi7i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.29074889867841414s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnv1xvpdpbq {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.29515418502202645s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el13an1ryjv0w {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.2995594713656388s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsutiy7u92q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.30396475770925113s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0juc5tnv3t8a {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.30837004405286345s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elonmaxnn54l {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3127753303964758s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2acrxetxtv7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.31718061674008813s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0e6426pg9ul5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3215859030837005s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2zuv9q54kza {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3259911894273128s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elppklf759kn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3303964757709251s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqpcpsjoz86 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3348017621145375s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldch7e8b5sth {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3392070484581498s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elx8uzp41kx2p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3436123348017621s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5vr5g58407q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3480176211453745s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elp0dqlr7wul {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3524229074889868s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elrrt9q7p78ag {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.35682819383259917s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9w8ydmui8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3612334801762115s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgzpt5shnpl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3656387665198238s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elr2v4dvs5q6e {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.37004405286343617s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elr9bpq5512ni {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3744493392070485s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpt1l5i6zv0b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.37885462555066085s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxizdllem6z {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.38325991189427316s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpgbkzy7kilf {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.3876651982378855s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elv90qktub71 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.39207048458149785s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxjbz4ipjlv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.39647577092511016s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnjjg8lez3po {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.40088105726872253s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elhqhy5k880qc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.40528634361233484s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltce6rolgv7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.40969162995594716s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltfbwjxkzokd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4140969162995595s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elws8acvtgaz {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.41850220264317184s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el0wf219iccj3 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4229074889867842s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elg6lsqe5buh4 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4273127753303965s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnpj3lps6n4l {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.43171806167400884s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsswba424rh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4361233480176212s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnxtawdeusk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4405286343612335s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elipc67rbqyza {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.44493392070484583s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldkwxq12xe7f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4493392070484582s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbatt0i4se8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4537444933920705s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4wq4qmacs0u {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4581497797356829s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzgyco6e34f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4625550660792952s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldkohgsdbrps {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4669603524229075s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfweaoak1h6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4713656387665199s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elvxu9jlkbfg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4757709251101322s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkkwhzymsfd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.48017621145374456s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el9e5mj6skq9q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4845814977973569s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eloilclz1w6cg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.4889867841409692s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eljop4059xlac {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.49339207048458156s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ell5pemusqjl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.49779735682819387s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elp6xgi7a5jcd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5022026431718062s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbyw1pqltyeu {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5066079295154186s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxgzsdoc0on {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5110132158590309s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eld1g7sfv4fn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5154185022026432s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzlrp26rzyvg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5198237885462555s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elei5mt0te7qh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5242290748898679s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1rh0ap40jle {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5286343612334802s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbmpq3apatxl {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5330396475770925s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elklxxoff1xrj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5374449339207049s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elp1n9ungwsik {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5418502202643173s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elaari8ln2wj4 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5462555066079295s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpvg4zfuy4rm {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5506607929515419s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elumzk3kd3b9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5550660792951543s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elu8u0x9y2frk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5594713656387665s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elikrqgw1m1cr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5638766519823789s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldp3ytz0yg5v {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5682819383259913s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elckro66jy8c7 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5726872246696035s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el3mxjta5e223 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5770925110132159s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsumi3jilhv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5814977973568283s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ell64u32l74p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5859030837004405s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elyvulajy2np8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5903083700440529s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elf2ug25xu95j {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5947136563876653s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2ecfpr0dfj {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.5991189427312776s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el42fwxstepbr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6035242290748899s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxuai7jodexe {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6079295154185023s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6hjyqtumyan {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6123348017621146s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbwdrab033jh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6167400881057269s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ellron3xk6p7c {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6211453744493393s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el8c03432xz69 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6255506607929516s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfn6j6h1ny2c {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6299559471365639s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elz3e32jq56s8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6343612334801763s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elt0t5p4apqs9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6387665198237886s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elftnx5f2h5jk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.643171806167401s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4daj1mulkjk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6475770925110133s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5wx5vy0b9b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6519823788546256s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsw9l6igaaja {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.656387665198238s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elwkx5hq4qx4j {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6607929515418502s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxadluw7a9ts {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6651982378854626s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4aisopb61oc {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.669603524229075s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltynsc85vcb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6740088105726872s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elybq8js7sh3 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6784140969162996s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elltvtp012gs {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.682819383259912s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltx7g4peo5g {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6872246696035242s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldgkbwxj1lb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.6916299559471366s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elr6ulvcwpzd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.696035242290749s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eljepnqt1at0f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7004405286343613s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1cdf5rhwf6u {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7048458149779736s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnujp71ounnk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.709251101321586s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elk0t7v7sr8r {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7136563876651983s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elzbq0a9ptd2s {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7180616740088106s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eluex5t92c05 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.722466960352423s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxgvryzeasar {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7268722466960353s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmf90wvumqhs {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7312775330396476s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elbfhwit5kn8n {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.73568281938326s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldocof78x8i8 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7400881057268723s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6dl6f2j2a34 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7444933920704847s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elfd84hpc1dvg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.748898678414097s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elmcgf9qu5sb {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7533039647577093s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el03ts6n9iwe66 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7577092511013217s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqmshipxk5fi {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.762114537444934s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eluhsukegfkcs {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7665198237885463s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eln61twng3o2 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7709251101321587s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgg8ew3r4e6p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.775330396475771s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldizt22pxhse {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7797356828193833s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elm5szyl05gls {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7841409691629957s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsmpr9nxfo7h {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.788546255506608s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4q62u0y2y8r {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7929515418502203s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eltt5xpybqq9c {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.7973568281938327s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1ioc7665ul6i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8017621145374451s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el37d1k3ok6ce {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8061674008810573s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elnkydhkiueg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8105726872246697s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4lzn59izezr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.814977973568282s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ellzzhw0wgn {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8193832599118943s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elkh3ilhy6oce {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8237885462555067s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elz04lp311rlr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.828193832599119s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1ou1swu2u4l {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8325991189427313s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el4u6dyu65s3b {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8370044052863437s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6at4qha6qkx {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.841409691629956s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el22vimcv8189 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8458149779735684s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el2wldgt7svtd {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8502202643171807s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqgu3yg2l7h9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.854625550660793s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elpd1c4scqzja {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8590308370044054s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elus8gwiu7rki {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8634361233480177s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el22r1h4xtopv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.86784140969163s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elgnn58otb30j {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8722466960352424s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elm6jdmi1l9i9 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8766519823788547s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ellx5jtegqw8s {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.881057268722467s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el1jogzy66vb5 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8854625550660794s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el7v0ttzvdiai {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8898678414096917s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxfee7fymjbe {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.894273127753304s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6opb18lu3ld {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.8986784140969164s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elxnw2agdvys {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9030837004405288s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el8zunkylbtsv {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.907488986784141s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elqycjo80yq6 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9118942731277534s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elyb7i127uu99 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9162995594713658s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elsfvj4syy6i {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.920704845814978s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elt4cczhyykxg {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9251101321585904s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eleq1mgu126mm {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9295154185022028s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elda9t3l4n24q {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.933920704845815s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5q43i82zdu {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9383259911894274s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el5keoel5gfcy {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9427312775330398s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eleqe5669e78 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.947136563876652s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el6byeopdyk8h {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9515418502202644s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elj4l0a6mt9j {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9559471365638768s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eldz73w5btgov {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9603524229074891s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #ele4z8i1icczh {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9647577092511014s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elibjgz2diox {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9691629955947137s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eluc0j9n29opr {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9735682819383261s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elztv0czl3n4p {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9779735682819384s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #elyutadc7ml3d {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9823788546255507s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el228mnjh0yf3 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9867841409691631s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #eljxyz8xcik7f {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9911894273127754s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #el45nroq2p9yk {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0.9955947136563877s;
    opacity: 0
}

svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #freepik--Robot--inject-13 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut,1.5s Infinite linear shake;
    animation-delay: 0s,1s;
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
