body {
    background-color: var(--bg);
    color: var(--fg);
}

p {
    margin-bottom: 0.5rem;
}

a {
    background-color: transparent;
    text-decoration: none;
}
.border-bottom {
    border-bottom: 1px solid var(--bg-info) !important;
}

/* nav */

#navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 10px);
    display: block;
    transition: top 0.3s;
    z-index: 9999;
    margin: 0px 5px 0px 5px
}


/* end nav */


/* Card */

main {
    margin-top: 5rem !important;
}

.bg {
    background-color: var(--bg);
    color: var(--fg);
}

.bg-content {
    background-color: var(--bg-content);
}

.content {
    background-color: var(--bg-content);
    color: var(--fg);
}

.card-info {
    border-radius: 0.5rem !important;
    background-color: var(--bg-info);
    border: 0px !important;
}

.card-info:hover {
    background-color: var(--bg-hover);
}

.card-info img {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
}

.card-info .title {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.card-info .title-1 {
    -webkit-line-clamp: 1 !important;
}

.card-info.comment {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
}


/* End card */


/* Chapter */

.chapnew a {
    font-size: 16px;
}

.chapnew a:hover {
    color: blue;
}

.chapnew i {
    font-size: 13px;
    text-align: right;
    margin: auto;
}


/* End Chapter */


/* Avatar */

.avatar-md {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}


/* End Avatar */


/* Quick class */

.rounded-5 {
    border-radius: 0.5rem !important;
}

.bg-gray {
    background-color: var(--bg);
}

.img-64 {
    height: 64px;
}


/* End Quick class */


/* Responsive */

@media only screen and (max-width: 350px) {
    .col-xs {
        flex: 1 0 0%;
    }
    .row-cols-xs-auto>* {
        flex: 0 0 auto;
        width: auto;
    }
    .row-cols-xs-1>* {
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-xs-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-xs-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-xs-4>* {
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-xs-5>* {
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-xs-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
    .col-xs-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xs-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xs-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xs-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xs-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xs-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-xs-0 {
        margin-left: 0;
    }
    .offset-xs-1 {
        margin-left: 8.33333333%;
    }
    .offset-xs-2 {
        margin-left: 16.66666667%;
    }
    .offset-xs-3 {
        margin-left: 25%;
    }
    .offset-xs-4 {
        margin-left: 33.33333333%;
    }
    .offset-xs-5 {
        margin-left: 41.66666667%;
    }
    .offset-xs-6 {
        margin-left: 50%;
    }
    .offset-xs-7 {
        margin-left: 58.33333333%;
    }
    .offset-xs-8 {
        margin-left: 66.66666667%;
    }
    .offset-xs-9 {
        margin-left: 75%;
    }
    .offset-xs-10 {
        margin-left: 83.33333333%;
    }
    .offset-xs-11 {
        margin-left: 91.66666667%;
    }
    .g-xs-0,
    .gx-xs-0 {
        --bs-gutter-x: 0;
    }
    .g-xs-0,
    .gy-xs-0 {
        --bs-gutter-y: 0;
    }
    .g-xs-1,
    .gx-xs-1 {
        --bs-gutter-x: 0.25rem;
    }
    .g-xs-1,
    .gy-xs-1 {
        --bs-gutter-y: 0.25rem;
    }
    .g-xs-2,
    .gx-xs-2 {
        --bs-gutter-x: 0.5rem;
    }
    .g-xs-2,
    .gy-xs-2 {
        --bs-gutter-y: 0.5rem;
    }
    .g-xs-3,
    .gx-xs-3 {
        --bs-gutter-x: 1rem;
    }
    .g-xs-3,
    .gy-xs-3 {
        --bs-gutter-y: 1rem;
    }
    .g-xs-4,
    .gx-xs-4 {
        --bs-gutter-x: 1.5rem;
    }
    .g-xs-4,
    .gy-xs-4 {
        --bs-gutter-y: 1.5rem;
    }
    .g-xs-5,
    .gx-xs-5 {
        --bs-gutter-x: 3rem;
    }
    .g-xs-5,
    .gy-xs-5 {
        --bs-gutter-y: 3rem;
    }
}


/* End Responsive */