:root {
    --bg: #18191a;
    --bg-transparent: rgba(24, 25, 26, 0.7);
    --bg-content: #242526;
    --bg-hight: #505050;
    --bg-medium: #3a3b3c;
    --bg-low: #2a2b2c;
    --fg: #fff;
}
.bg-pokemon {
    background-image: url("/resources/img/background-pokemon-grass-dark.png");
}
