:root {
    --bg: #f0f2f5;
    --bg-transparent: rgba(240, 242, 245, 0.9);
    --bg-content: #fff;
    --bg-hight: #f0f2f5;
    --bg-medium: #f0f5fc;
    --bg-low: #dee4ee;
    --fg: #000;
}
.bg-pokemon {
    background-image: url("/resources/img/background-pokemon-grass-light.png");
}