
<div class="body">
    <div class="loader" style="width: 44px; height: 44px;">
        <svg viewBox="0 0 80 80">
            <circle id="test" cx="40" cy="40" r="32"></circle>
        </svg>
    </div>

    <div class="loader triangle" style="width: 44px; height: 44px;">
        <svg viewBox="0 0 86 80">
            <polygon points="43 8 79 72 7 72"></polygon>
        </svg>
    </div>

    <div class="loader" style="width: 44px; height: 44px;">
        <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64"></rect>
        </svg>
    </div>

    <!-- dribbble -->
    <a class="dribbble" href="#" target="_blank"><img src="/resources/img/spyduck_geometric.svg" alt=""></a>
</div>
