<!-- Modal Thông Báo -->
<div class="modal fade" id="POP-alert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Chú Ý</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap">

                    @_contentAlert

                </div>
            </div>
            <div class="modal-footer">
                <button id="close-alert-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => ResultAlert(false) ">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="() => ResultAlert(true) ">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Thông Báo  -->

@code
{
    [Parameter]
    public string _contentAlert { get; set; }
    [Parameter]
    public Func<bool> Function { get; set; }

    public bool Result { get; set; }


    public void TestFunc()
    {
        if (Result)
        {
            Function();
        }
    }

    void ResultAlert(bool value)
    {
        Result = value;
    }
}
