<div class="comment-section ">
    <div class="content p-2 rounded-5 ">
        <div class=" ">
            <div class="rounded-5 p-2 border-bottom ">
                <a class="navbar-brand " href="# "><i class="fad fa-comments "></i> Bình Luận</a>
            </div>
        </div>
    </div>
</div>

@code {

}
